@model IEnumerable<WebStore.Domain.Entities.OrderItem>
@{
    ViewBag.Title = "Order Item Index";
}
@section featured {
    @Html.Partial("MainHeadingPartial")
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.OrderItemCategoryID.CategoryCode)
        </th>
        -->
        <th>
            @Html.DisplayNameFor(model => model.OrderItemOrderID.OrderID)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.OrderItemProductID.Name)
        </th>
        -->
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.Special)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageMimeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Buyer)
        </th>
        -->
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        -->
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.OrderItemCategoryID.CategoryCode)
        </td>
        -->
        <td>
            @Html.DisplayFor(modelItem => item.OrderItemOrderID.OrderID)
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.OrderItemProductID.Name)
        </td>
        -->
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.Special)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageMimeType)
        </td>
        -->
        <td>
            @Html.DisplayFor(modelItem => item.Seller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buyer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        -->
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderItemID })
        </td>
    </tr>
}

</table>
