@model IEnumerable<WebStore.Domain.Entities.Order>
@{
    ViewBag.Title = "Order Index";
}
@section featured {
    @Html.Partial("MainHeadingPartial")
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.OrderBillToAddressID.StreetLine1)
        </th>
        -->
        <th>
            @Html.DisplayNameFor(model => model.OrderCustomerID.FirstName)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.OrderShipToAddressID.StreetLine1)
        </th>
        -->
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.ShipDate)
        </th>
        -->
        <th>
            @Html.DisplayNameFor(model => model.TotalOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCount)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetLine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetLine2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetLine3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        -->
        <th>
            @Html.DisplayNameFor(model => model.PaymentConfirmation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.OrderBillToAddressID.StreetLine1)
        </td>
        -->
        <td>
            @Html.DisplayFor(modelItem => item.OrderCustomerID.FirstName)
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.OrderShipToAddressID.StreetLine1)
        </td>
        -->
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.ShipDate)
        </td>
        -->
        <td>
            @Html.DisplayFor(modelItem => item.TotalOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCount)
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetLine1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetLine2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetLine3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        -->
        <td>
            @Html.DisplayFor(modelItem => item.PaymentConfirmation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
